

.center {
  position: absolute;
  padding: 0;
  margin: auto;
  width: 400px;
  top: 26px;
  bottom: 0;
  left: 0;
  right:0;
}

.shadow {
  position: absolute;
  padding: 0;
  margin: auto;
  width: 400px;
  top: 80px;
  bottom: 30px;
  left: 0;
  right:0;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.topimage {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0;
  top: 0;
  left: 0;

}


body {
  background-image: url('https://cdn.hellofresh.com/landing-pages/Pages/hf-recipe-collection.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  

